*{
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
    color: #162d3d;
    /*font-size:16px;*/
    font-size:0.426rem;
}
h1,h2,h3,h4,h5{
    font-weight: normal;
}
a{
    text-decoration: none;
    color:inherit;
}
ul,ol{
    list-style: none;
}  
/*375px * 667px */
.setpage{
    background: #fafafa;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.setpage .wrapper{
    width:100%;
    height:100%;
}
.setpage h1{
    border-bottom: 1px solid #e0e0e0;
    width:100%;
    text-align: center;
    font-size: 0.453rem;/*17px*/
    color:#06123f;
    background: #fff;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height:1.2rem;/*45px;*/
    padding-left:0.4rem;/*15px;*/
    padding-right:0.4rem;/*15px;*/
}
.setpage h1 img{
    /*width:25px;*/
    width:0.67rem;
    height:0.67rem;/*25px;*/
    vertical-align: bottom;
    
}
.setpage .wrapper .mach-systems-content{}

.setpage .wrapper .mach-systems-content .systems-animation{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    /*padding-top:30px;*/
    padding-top:0.8rem;
    background: #fafafa;
}

.setpage .wrapper .mach-systems-content .systems-animation .left-status{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
/*.setpage .wrapper .mach-systems-content .systems-animation .left-status .animate-wrapper{
    position: relative;
    height:100%;
}
.systems-animation .left-status .animate-wrapper .left-line1{
    width:1px;
    height:100%;
    border-right: 1px solid #ccc;
    position: absolute;
    
    left:1.01rem;
    bottom:0;
    
}
/*.systems-animation .left-status .animate-wrapper .left-line2{   
    width:1px;
    height:0%; 与circle-left的bottom同步，可实现效果
    border-right: 1px solid #288cff;
    position: absolute;   
    left:0;
    bottom:0;
}
.systems-animation .left-status .animate-wrapper .circle-left{
    width:1.17rem;
    height:1.17rem;
    border-radius: 50%;
    position: absolute;
    left:0.4rem;
    background: #288cff;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.systems-animation .left-status .circle-left span{
    font-size:0.373rem;
    color:#06132f;
}*/
#slider-container-left {
    width: 2px;
    height: 100%;
    margin-left: 1.01rem;
    /*margin-top: 30px;*/
    background: #288cff;   
}

#slider-bar-left {
    width: 100%;
    height: 100%;
    background: #e0e0e0;			
}
#slider-handle-left {
    width: 1.17rem;
    height: 1.17rem;
    background: #288cff;
    position: relative;
    left: -0.585rem;
    top: -0.585rem;		
    -webkit-border-radius: 50%;			
    -moz-border-radius: 50%;			
    border-radius: 50%;
     display:flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
#slider-handle-left span{
    font-size:0.373rem;
    color:#06132f;
}


.setpage .wrapper .mach-systems-content .systems-animation .somebody-pic{}
.systems-animation .somebody-pic img{
    /*width:125px;*/
    width:3.33rem;
    /*height:400px;*/
    height:10.67rem;
    margin-left:auto;
    margin-right:auto;
}

.setpage .wrapper .mach-systems-content .systems-animation .right-status{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position:relative;
}
.setpage .wrapper .mach-systems-content .systems-animation .right-status .animate-wrapper{
    position: relative;
    height:100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
/*.systems-animation .right-status #slider-container-right{
   position: absolute;
   height:65%;
   bottom:0;
   
   right:0.99rem;
}
.systems-animation .right-status .right-line1{
    width:1px;
    height:100%;
    border-right: 1px solid #ccc;
    position: absolute;
    bottom:0;
    right:0;
   
}
.systems-animation .right-status .animate-wrapper .right-line2{   
    width:1px;
    height:0%;
    border-right: 1px solid #288cff;
    position: absolute;   
    right:0;
    bottom:0;
}
.systems-animation .right-status .circle-right{
    
    width:1.17rem;

    height:1.17rem;
    border-radius: 50%;
    position: absolute;
   
    right:-0.59rem;
    bottom:0%;
    background: #288cff;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
   
}*/
#slider-container-right {
    width: 2px;
    height: 65%;
    margin-right: 1.01rem;
    /*margin-top: 30px;*/
    background: #288cff;
    bottom:0; 
    right:-0.1rem;
    position:absolute;  
}

#slider-bar-right {
    width: 100%;
    height: 100%;
    background: #e0e0e0;			
}
#slider-handle-right {
    width: 1.17rem;
    height: 1.17rem;
    background: #288cff;
    position: relative;
    left: -0.585rem;
    top: -0.585rem;		
    -webkit-border-radius: 50%;			
    -moz-border-radius: 50%;			
    border-radius: 50%;
     display:flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
#slider-handle-right span{
    font-size:0.373rem;
    color:#06132f;
}


.systems-animation .right-status .kg{
    /*margin-right: 19px;*/
     margin-right: 0.51rem;
    /*margin-top:15px;*/
    margin-top:0.4rem;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}
.systems-animation .right-status img{
    /*width:30px;*/
    width:0.8rem;
    /*right:38px;*/
    right:1.01rem;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    position: absolute;
}
.systems-animation .right-status img.female1{}
.systems-animation .right-status img.male1{
    /*top:20px;*/
    top:0.53rem;
    /*margin-top:30px;*/
    margin-top:0.8rem;
}


.mach-systems-content .status-data{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    /*padding:15px 30px;*/
    padding:0.4rem 0.8rem;
    border-bottom:1px solid #e0e0e0; 
    background: #fafafa;
}
.mach-systems-content .material-choose{
    background: #fff;
}
.mach-systems-content .material-choose .material-title{
    /*height:44px;*/
    height:1.17rem;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /*padding-left:15px;*/
    padding-left:0.4rem;
    /*padding-right:15px;*/
    padding-right:0.4rem;
}
.mach-systems-content .material-choose .material-detail{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding:;
    border-top:1px solid #e0e0e0;
    border-bottom:1px solid #e0e0e0;
}
.mach-systems-content .material-choose .material-detail li{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   -ms-flex-negative: 0;
       flex-shrink: 0;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   /*padding-top:5px;*/
   padding-top:0.133rem;
   /*padding-bottom:7px;*/
   padding-bottom:0.19rem;
}
.mach-systems-content .material-choose .material-detail li img{
    /*width:30px;*/
    width:0.8rem;
    /*height:22px;*/
    height:0.59rem;
}
.mach-systems-content .material-choose .material-detail li span{
    /*font-size: 11px;*/
    font-size:0.29rem;
}
.mach-systems-content .material-choose .material-detail li span.active{
    color:#288cff;
}
.mach-systems-content .material-choose .material-detail li:nth-child(even){
    display:none;
}
.mach-systems-content .softness-choose{
    background: #fff;
    /*margin-top:15px;*/
    margin-top:0.4rem;
    /*margin-bottom: 15px;*/
    margin-bottom:0.4rem;
}
.mach-systems-content .softness-choose .softness-title{
    /*height:44px;*/
    height:1.17rem;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /*padding-left:15px;*/
    padding-left:0.4rem;
    /*padding-right:15px;*/
    padding-right:0.4rem;
    border-bottom:1px solid #e0e0e0;
}
.mach-systems-content .softness-choose .softness-line{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    /*padding-top:12px;*/
    padding-top:0.32rem;
    /*padding-bottom:12px;*/
    padding-bottom:0.32rem;
}
.mach-systems-content .softness-choose .softness-line span{
    /*margin-left:15px;*/
    margin-left:0.4rem;
    /*margin-right:15px;*/
    margin-right:0.4rem;
}
.mach-systems-content .softness-choose .softness-line .softness-view{
    position:relative;
    width:100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.mach-systems-content .softness-choose .softness-line .softness-view .middle-line1{
    width:100%;
    border-top:1px solid #ccc;
    height:1px;
    position:absolute;
}
.mach-systems-content .softness-choose .softness-line .softness-view .middle-line2{
    /*width:30%;*/
    border-top:1px solid #288cff;
    height:1px;
    position: absolute;
    left:0;
}
.mach-systems-content .softness-choose .softness-line .softness-view .circle-middle{
    /*width:30px;*/
    width:0.8rem;
    /*height:30px;*/
    height:0.8rem;
    border-radius: 50%;
    position: absolute;
    /*left:30%;*/
    background: #288cff;
}
/*sleep*/
.mach-systems-content .sleep-choose{
    background: #fff;
}
.mach-systems-content .sleep-choose .sleep-title{
    /*height:44px;*/
    height:1.17rem;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /*padding-left:15px;*/
    padding-left:0.4rem;
    /*padding-right:15px;*/
    padding-right:0.4rem;
}
.mach-systems-content .sleep-choose .sleep-detail{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding:;
    border-top:1px solid #e0e0e0;
    border-bottom:1px solid #e0e0e0;
}
.mach-systems-content .sleep-choose .sleep-detail li{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   -ms-flex-negative: 0;
       flex-shrink: 0;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   /*padding-top:5px;*/
   padding-top:0.133rem;
   /*padding-bottom:7px;*/
   padding-bottom:0.19rem;
}
.mach-systems-content .sleep-choose .sleep-detail li img{
    /*width:30px;*/
    width:0.8rem;
    /*height:22px;*/
    height:0.59rem;
}
.mach-systems-content .sleep-choose .sleep-detail li span{
    /*font-size: 11px;*/
    font-size:0.29rem;
}
.mach-systems-content .sleep-choose .sleep-detail li span.active{
    color:#288cff;
}
.mach-systems-content .sleep-choose .sleep-detail li:nth-child(even){
    display:none;
}
/*highness*/
.mach-systems-content .highness-choose{
    background: #fff;
    /*margin-top:15px;*/
    margin-top:0.4rem;
    /*margin-bottom: 15px;*/
    margin-bottom:0.4rem;
}
.mach-systems-content .highness-choose .highness-title{
    /*height:44px;*/
    height:1.17rem;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /*padding-left:15px;*/
    padding-left:0.4rem;
    /*padding-right:15px;*/
    padding-right:0.4rem;
    border-bottom:1px solid #e0e0e0;
}
.mach-systems-content .highness-choose .highness-line{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    /*padding-top:12px;*/
    padding-top:0.32rem;
    /*padding-bottom:12px;*/
    padding-bottom:0.32rem;
}
.mach-systems-content .highness-choose .highness-line span{
    /*margin-left:15px;*/
    margin-left:0.4rem;
    /*margin-right:15px;*/
    margin-right:0.4rem;
}
.mach-systems-content .highness-choose .highness-line .highness-view{
    position:relative;
    width:100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.mach-systems-content .highness-choose .highness-line .highness-view .bottom-line1{
    width:100%;
    border-top:1px solid #ccc;
    height:1px;
    position:absolute;
}
.mach-systems-content .highness-choose .highness-line .highness-view .bottom-line2{
    width:30%;/**/
    border-top:1px solid #288cff;
    height:1px;
    position: absolute;
    left:0;
}
.mach-systems-content .highness-choose .highness-line .highness-view .circle-bottom{
    /*width:30px;*/
    width:0.8rem;
    /*height:30px;*/
    height:0.8rem;
    border-radius: 50%;
    position: absolute;
    left:30%;
    background: #288cff;
}
/*health*/
.mach-systems-content .health-choose{
    background: #fff;
}
.mach-systems-content .health-choose .health-title{
    /*height:44px;*/
    height:1.17rem;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /*padding-left:15px;*/
    padding-left:0.4rem;
    /*padding-right:15px;*/
    padding-right:0.4rem;
}
.mach-systems-content .health-choose .health-detail{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    border-top:1px solid #e0e0e0;
    border-bottom:1px solid #e0e0e0;
}
.mach-systems-content .health-choose .health-detail li{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   -ms-flex-negative: 0;
       flex-shrink: 0;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   /*padding-top:5px;*/
   padding-top:0.133rem;
   /*padding-bottom:7px;*/
   padding-bottom:0.19rem;
}
.mach-systems-content .health-choose .health-detail li img{
    /*width:30px;*/
    width:0.8rem;
    /*height:22px;*/
    height:0.59rem;
}
.mach-systems-content .health-choose .health-detail li span{
    /*font-size: 11px;*/
    font-size:0.29rem;
}
.mach-systems-content .health-choose .health-detail li span.active{
    color:#288cff;
}
.mach-systems-content .health-choose .health-detail li:nth-child(even){
    display:none;
}
.setpage .wrapper .submit-container{
    width:92%;
    /*height:44px;*/
    height:1.17rem;
    /*margin:15px;*/
    margin:0.4rem;
    background: #288cff;
    /*border-radius: 8px;*/
    border-radius:0.231rem;
}
.setpage .wrapper .submit-container a{
    width:100%;
    height:100%;
}
.setpage .wrapper .submit-container a button{
    width:100%;
    height:100%;
    background: transparent;
    /*font-size: 17px;*/
    font-size:0.453rem;
    outline:none;
    border:none;
    /*border-radius: 8px;*/
    border-radius:0.213rem;
    color:#fff;
}
